.header{
    margin-top: 15px;
    .header_list{
        display: none;
        align-items: center;
        justify-content: end;
        gap: 18px;
        a{
            font-size: 18px;
            transition: all ease 0.2s;
            &:hover{
                color: #FF6464;
            }
        }
    }
    .header_res{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: end;
    }
}
@media (min-width: 600px) {
    .header{
        .header_list{
            display: flex;
        }
        .header_res{
            display: none;
        }
    }
}